.main-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    font-weight: light;
}

img {
    max-width: 68%;
    align-items: center;
}