.main-container {
    max-width: 73%;
    display: flex;
    padding: 0 auto;
    margin: 0 auto;
}

.grass {
    max-width: 95%;
    border-radius: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;

}