*{
    margin: 0 auto; 
    padding: 0 auto;
    font-family: Courgette;
    font-size: small;
    background-color: #e4dbc9;   
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 50%;
}

.ui-container {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
    margin: 0 auto;
    text-align: center;
}
